<div class="form-row">
    <div class="form-group col-md-2 ">
        <label for="select-subject">{{ title }}</label>
    </div>
    <div class="form-group col-md-6 ">
        <select id="select-subject-{{ id }}" class="select-subject js-select" name="{{ id }}">
            <option></option>
            {% for subject in subjects %}
                <option value="{{ subject.id }}"
                        {% if subject.id == subject_selected %} selected="selected"{% endif %}>{{ subject }}</option>
            {% endfor %}
        </select>
    </div>
</div>